In [9]:
#import joblib  
#model = joblib.load('model.pkl')

import bz2file as bz2
import pickle
model = pickle.load(bz2.BZ2File('../model/model.pbz2', 'rb'))

In [10]:
import pandas as pd

In [11]:
single_df = pd.DataFrame([['MOOCA', 'Apple', 'DOMINGO', 'NOITE', 45, 'HOMEM']], columns=['BAIRRO', 'MARCA_OBJETO', 'DIA_SEMANA', 'PERIODO', 'IDADE', 'SEXO'])

In [12]:
X_test = pd.read_csv("../data/base_to_single_predict.csv")
X_test = pd.concat([X_test, single_df])

In [13]:
X_test["BAIRRO"] = X_test["BAIRRO"].astype("category")
X_test["MARCA_OBJETO"] = X_test["MARCA_OBJETO"].astype("category")
X_test["DIA_SEMANA"] = X_test["DIA_SEMANA"].astype("category")
X_test["SEXO"] = X_test["SEXO"].astype("category")
X_test["PERIODO"] = X_test["PERIODO"].astype("category")

In [14]:
prev = model.predict_proba(X_test)

In [15]:
prev

array([[0.054043  , 0.05405313, 0.05434847, ..., 0.06165455, 0.06152413,
        0.48872638],
       [0.05594808, 0.05595857, 0.05626432, ..., 0.06000696, 0.06288915,
        0.4786366 ],
       [0.05527072, 0.05528107, 0.05558313, ..., 0.06498084, 0.05764281,
        0.47223347],
       ...,
       [0.05671613, 0.05672676, 0.05703671, ..., 0.06509287, 0.06430768,
        0.4547021 ],
       [0.05629808, 0.05630863, 0.0566163 , ..., 0.06643684, 0.06925853,
        0.45143783],
       [0.05397427, 0.05398438, 0.05427935, ..., 0.06166743, 0.05994694,
        0.49157128]], dtype=float32)

In [18]:
preds = pd.DataFrame(prev)

In [20]:
preds['valor_previsto'] = preds.idxmax(axis=1)

In [21]:
preds

,0,1,2,3,4,5,6,7,8,9,valor_previsto
0,0.054043,0.054053,0.054348,0.054548,0.054574,0.059233,0.057295,0.061655,0.061524,0.488726,9
1,0.055948,0.055959,0.056264,0.056318,0.057052,0.058036,0.058891,0.060007,0.062889,0.478637,9
2,0.055271,0.055281,0.055583,0.055780,0.057147,0.059271,0.066811,0.064981,0.057643,0.472233,9
3,0.052375,0.052384,0.052671,0.052864,0.052890,0.056198,0.062836,0.061672,0.118242,0.437868,9
4,0.054107,0.054117,0.054412,0.054612,0.054639,0.057982,0.057173,0.061819,0.060819,0.490320,9
...,...,...,...,...,...,...,...,...,...,...,...
12989,0.054043,0.054053,0.054348,0.054548,0.054574,0.059233,0.057295,0.061655,0.061524,0.488726,9
12990,0.055640,0.055650,0.055954,0.056160,0.057129,0.061918,0.065538,0.057795,0.074177,0.460040,9
12991,0.056716,0.056727,0.057037,0.057239,0.063151,0.062118,0.062910,0.065093,0.064308,0.454702,9
12992,0.056298,0.056309,0.056616,0.056824,0.058209,0.060503,0.068108,0.066437,0.069259,0.451438,9
12993,0.053974,0.053984,0.054279,0.054472,0.054505,0.059353,0.056247,0.061667,0.059947,0.491571,9

In [22]:
X_test['valor_previsto'] = preds['valor_previsto']

In [23]:
X_test

,BAIRRO,MARCA_OBJETO,DIA_SEMANA,PERIODO,IDADE,SEXO,valor_previsto
0,JARDIM PAULISTA,Samsung,QUINTA,NOITE,49,HOMEM,9
1,REPUBLICA,Samsung,DOMINGO,MADRUGADA,23,MULHER,9
2,JARDIM SANTA TEREZINHA (ZONA LESTE),Outros,DOMINGO,TARDE,27,HOMEM,9
3,SANTA CECILIA,Samsung,QUARTA,TARDE,80,MULHER,9
4,IGUATEMI,Samsung,SEGUNDA,NOITE,30,MULHER,9
...,...,...,...,...,...,...,...
12989,SAO MIGUEL,Samsung,QUINTA,NOITE,30,HOMEM,9
12990,PARELHEIROS,Positivo,SEGUNDA,TARDE,75,MULHER,9
12991,PARQUE SAO RAFAEL,Motorola,DOMINGO,NOITE,27,MULHER,9
12992,VILA JACUI,Outros,QUARTA,TARDE,48,HOMEM,9
0,MOOCA,Apple,DOMINGO,NOITE,45,HOMEM,9

In [24]:
from pandasql import sqldf
result = sqldf("select * from X_test where valor_previsto != 9")
result

,BAIRRO,MARCA_OBJETO,DIA_SEMANA,PERIODO,IDADE,SEXO,valor_previsto
0,VILA SONIA,Apple,QUARTA,MADRUGADA,58,MULHER,8
1,VILA SONIA,Apple,TERCA,NOITE,22,MULHER,8
2,VILA SONIA,Samsung,SEXTA,NOITE,26,HOMEM,8
3,VILA SONIA,Apple,SABADO,NOITE,41,HOMEM,8
4,JARDIM MARILIA,Motorola,QUARTA,TARDE,51,HOMEM,2
...,...,...,...,...,...,...,...
108,VILA SONIA,Apple,SEGUNDA,NOITE,75,MULHER,8
109,VILA SONIA,Samsung,QUINTA,MADRUGADA,30,HOMEM,8
110,VILA GERTRUDES,Outros,TERCA,TARDE,41,HOMEM,8
111,VILA SONIA,Xiaomi,SEXTA,NOITE,18,MULHER,8
112,VILA SONIA,Samsung,QUINTA,NOITE,33,MULHER,8

In [25]:
result.to_csv("nao_via_publica.csv", index=False)

In [13]:
response = prev[-1]

In [43]:
single_pred = pd.DataFrame(response)

In [44]:
single_pred = pd.DataFrame([[
    single_pred[0][0],
    single_pred[0][1],
    single_pred[0][2],
    single_pred[0][3],
    single_pred[0][4],
    single_pred[0][5],
    single_pred[0][6],
    single_pred[0][7],
    single_pred[0][8],
    single_pred[0][9]
]], columns=[
    "Escolas / Universidade", 
    "Escritórios", 
    "Saúde",
    "Entreterimento",
    "Alimentação",
    "Transporte Privado",
    "Estabelecimentos Comerciais / Industrias",
    "Residência / Hospedagem",
    "Transporte Público",
    "Via Pública"
])

In [45]:
single_pred

,Escolas / Universidade,Escritórios,Saúde,Entreterimento,Alimentação,Transporte Privado,Estabelecimentos Comerciais / Industrias,Residência / Hospedagem,Transporte Público,Via Pública
0,0.053974,0.053984,0.054279,0.054472,0.054505,0.059353,0.056247,0.061667,0.059947,0.491571

In [46]:
single_pred *= 100

In [47]:
single_pred

,Escolas / Universidade,Escritórios,Saúde,Entreterimento,Alimentação,Transporte Privado,Estabelecimentos Comerciais / Industrias,Residência / Hospedagem,Transporte Público,Via Pública
0,5.397427,5.398438,5.427935,5.447151,5.450509,5.935262,5.624709,6.166743,5.994694,49.157127

In [48]:
single_pred = single_pred.sort_values(single_pred.last_valid_index(), axis=1)

In [49]:
single_pred

,Escolas / Universidade,Escritórios,Saúde,Entreterimento,Alimentação,Estabelecimentos Comerciais / Industrias,Transporte Privado,Transporte Público,Residência / Hospedagem,Via Pública
0,5.397427,5.398438,5.427935,5.447151,5.450509,5.624709,5.935262,5.994694,6.166743,49.157127

In [50]:
result = single_pred.to_json(orient="split")
from json import loads, dumps
parsed = loads(result)

In [51]:
parsed

{'columns': ['Escolas / Universidade',
  'Escritórios',
  'Saúde',
  'Entreterimento',
  'Alimentação',
  'Estabelecimentos Comerciais / Industrias',
  'Transporte Privado',
  'Transporte Público',
  'Residência / Hospedagem',
  'Via Pública'],
 'index': [0],
 'data': [[5.3974270821,
   5.3984384537,
   5.4279351234,
   5.4471507072,
   5.4505085945,
   5.6247091293,
   5.9352622032,
   5.9946937561,
   6.1667432785,
   49.1571273804]]}

In [52]:
response = []
for x in range(10):
  data = {
            "position":x,
            "label":parsed['columns'][x],
            "value":parsed['data'][0][x]
        }
  
  response.append(data)

In [53]:
response

[{'position': 0, 'label': 'Escolas / Universidade', 'value': 5.3974270821},
 {'position': 1, 'label': 'Escritórios', 'value': 5.3984384537},
 {'position': 2, 'label': 'Saúde', 'value': 5.4279351234},
 {'position': 3, 'label': 'Entreterimento', 'value': 5.4471507072},
 {'position': 4, 'label': 'Alimentação', 'value': 5.4505085945},
 {'position': 5,
  'label': 'Estabelecimentos Comerciais / Industrias',
  'value': 5.6247091293},
 {'position': 6, 'label': 'Transporte Privado', 'value': 5.9352622032},
 {'position': 7, 'label': 'Transporte Público', 'value': 5.9946937561},
 {'position': 8, 'label': 'Residência / Hospedagem', 'value': 6.1667432785},
 {'position': 9, 'label': 'Via Pública', 'value': 49.1571273804}]

In [54]:
import matplotlib.pyplot as plt
import xgboost as xgb

In [ ]:
#pip install graphviz

In [ ]:
fig, ax = plt.subplots(figsize=(30,30))
xgb.plot_tree(model, num_trees=4, ax=ax)
plt.show()